body {
    background-color: white;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #525252;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none

}

/* Nav */

nav {
  background-color: red;
  width: 100%;
  margin-right: 20px;
}
.logo {
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:2%;
}

@media (min-width: 768px) {
  .logo {
    width: 200px;
  }
}

#port {
  padding-right: 2%;
}

.drop {
  display: none;
}

.menu_dropdown {
  float: right;
}

/* end of nav */



/* Change the link color to #111 (black) on hover */
.content {
  width: 80%;
  margin: 0 auto;
  background-color: yellow;
}


li a:hover {
    background-color: #111;
}

.actual_piece {
  padding-top: 20px;
  background-color: white;
  width: 35%;
  float: left;
}

.image_container {
  float:left;
  margin-right: 5%;
}

.pieceone {
  width:60%;
}

.arrow {
  width: 50px;
  background-color: white;
  padding-bottom: 250px;
  padding-left: 50px;
 }

#rectangle {
    float: left;
    width:65px;
    height:200px;
    background-color:blue;
    padding-left:600px;
    margin-left:400px;
}
